<!-- default header, used in default layout -->
<header>
<h1><a href="https://dustinlin.github.io/">Dustin Lin</a></h1>

	<img src="/assets/blackboard.jpg" alt="Logo" />


<p>Contact: <a href="mailto:d6lin@ucsd.edu">d6lin [at] ucsd [dot] edu</a><br>
	GitHub: <a href="https://github.com/DustinLin">DustinLin</a><br>
	<!-- Twitter: <a href="https://twitter.com/EugenieLai">@EugenieLai</a><br> -->
	<!--Instagram: <a href="https://www.instagram.com/eugeniesday/">eugeniesday</a><br>-->
	<!--Calendar: <a href="https://calendar.google.com/calendar?cid=eXVqaW5nbGFpMDcwN0BnbWFpbC5jb20">Scheduled</a><br> &mdash; -->
	<!-- <a href="/docs/cvs/cv-eylai.pdf">CV</a>, <a href="/docs/transcripts/transcript-eylai.pdf">transcript</a> -->
</p>

<!--

<p>News <small>[<a href="https://eugenielai.github.io/posts/news.html">More Updates</a>] <br>
	2021.04 Joining the <a href="http://dsg.csail.mit.edu/">Data Systems Group (DSG)</a> at MIT EECS CSAIL as a PhD student in Fall '21.</small>
</p>
-->

<p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>

</header>