<!-- default header, used in default layout -->
<header>
<h1><a href="https://dustinlin.github.io/">Dustin Lin</a></h1>

	<img src="/assets/blackboard.jpg" alt="Logo" />


<p>Contact: <a href="mailto:d6lin@ucsd.edu">d6lin [at] ucsd [dot] edu</a><br>
	GitHub: <a href="https://github.com/DustinLin">DustinLin</a><br>
	<!-- Twitter: <a></a><br> -->
	<!--Instagram: <a></a><br>-->
	<!--Calendar: <a></a><br> &mdash; -->
	<!-- <a>CV</a>, <a>transcript</a> -->
</p>

-->

<p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>

</header>